<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923017235420-9ij8cjuomu34dsrnt4eg6cst34e0ol4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923017235420-9ij8cjuomu34dsrnt4eg6cst34e0ol4f</string>
	<key>API_KEY</key>
	<string>AIzaSyB01H8f9WvbHAFM4CLRuAXrQZxe-BoBWXU</string>
	<key>GCM_SENDER_ID</key>
	<string>923017235420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppWorksSchool.WenT.RelationBook</string>
	<key>PROJECT_ID</key>
	<string>relationbook-1d522</string>
	<key>STORAGE_BUCKET</key>
	<string>relationbook-1d522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923017235420:ios:1ec322152ed2751346dd19</string>
</dict>
</plist>